Medi_Box_Part_1/node red.json
[
    {
        "id": "7f4a8f1e.6d1b5",
        "type": "tab",
        "label": "MediBox Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1d2c9a6.1a6c08",
        "type": "mqtt in",
        "z": "7f4a8f1e.6d1b5",
        "name": "temperature",
        "topic": "medibox/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "a87fd9bb5ec24f84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "d8d5a1f0.5a3d28",
                "a5e3b8d4.3e8d38"
            ]
        ]
    },
    {
        "id": "d8d5a1f0.5a3d28",
        "type": "ui_text",
        "z": "7f4a8f1e.6d1b5",
        "group": "4e9e565b7be1d1dd",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 500,
        "y": 80,
        "wires": []
    },
    {
        "id": "a5e3b8d4.3e8d38",
        "type": "ui_chart",
        "z": "7f4a8f1e.6d1b5",
        "name": "",
        "group": "4e9e565b7be1d1dd",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c8f7c2a3.0a0d38",
        "type": "mqtt in",
        "z": "7f4a8f1e.6d1b5",
        "name": "light intensity",
        "topic": "medibox/light_intensity",
        "qos": "0",
        "datatype": "auto",
        "broker": "a87fd9bb5ec24f84",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "e5f0d0b3.1d7b38",
                "d3c3b5a4.8c5e38",
                "b21d4892e3b77468"
            ]
        ]
    },
    {
        "id": "e5f0d0b3.1d7b38",
        "type": "ui_text",
        "z": "7f4a8f1e.6d1b5",
        "group": "d7b9e7c3.5d1f28",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Recent Average Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "d3c3b5a4.8c5e38",
        "type": "ui_chart",
        "z": "7f4a8f1e.6d1b5",
        "name": "",
        "group": "d7b9e7c3.5d1f28",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Light Intensity History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c9c3c0a3.4a5d38",
        "type": "ui_slider",
        "z": "7f4a8f1e.6d1b5",
        "name": "",
        "label": "Sampling Interval (ts)",
        "tooltip": "",
        "group": "d7b9e7c3.5d1f28",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "str",
        "min": "1",
        "max": "60",
        "step": "1",
        "className": "",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "a3b8a8c4.8c5e38"
            ]
        ]
    },
    {
        "id": "a3b8a8c4.8c5e38",
        "type": "mqtt out",
        "z": "7f4a8f1e.6d1b5",
        "name": "sampling interval",
        "topic": "medibox/config/sample_interval",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a87fd9bb5ec24f84",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "b5c3b0a4.0a0d38",
        "type": "ui_slider",
        "z": "7f4a8f1e.6d1b5",
        "name": "",
        "label": "Sending Interval (tu)",
        "tooltip": "",
        "group": "d7b9e7c3.5d1f28",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "str",
        "min": "10",
        "max": "600",
        "step": "10",
        "className": "",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "b8a7c2a3.1d7b38"
            ]
        ]
    },
    {
        "id": "b8a7c2a3.1d7b38",
        "type": "mqtt out",
        "z": "7f4a8f1e.6d1b5",
        "name": "sending interval",
        "topic": "medibox/config/send_interval",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a87fd9bb5ec24f84",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "b21d4892e3b77468",
        "type": "ui_gauge",
        "z": "7f4a8f1e.6d1b5",
        "name": "",
        "group": "d7b9e7c3.5d1f28",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Recent Average Light Intensity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "f56e349dc0f1cd07",
        "type": "ui_slider",
        "z": "7f4a8f1e.6d1b5",
        "name": "",
        "label": "Minimum Angle (θoffset)",
        "tooltip": "Adjust minimum window angle (0-120°)",
        "group": "7081dbe6d6dd9744",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "medibox/config/theta_offset",
        "topicType": "str",
        "min": 0,
        "max": 120,
        "step": 1,
        "className": "",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "e5263135877d822c"
            ]
        ]
    },
    {
        "id": "e5263135877d822c",
        "type": "mqtt out",
        "z": "7f4a8f1e.6d1b5",
        "name": "theta offset",
        "topic": "medibox/config/theta_offset",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a87fd9bb5ec24f84",
        "x": 480,
        "y": 580,
        "wires": []
    },
    {
        "id": "a94932cccfccd90d",
        "type": "ui_slider",
        "z": "7f4a8f1e.6d1b5",
        "name": "",
        "label": "Controlling Factor (γ)",
        "tooltip": "Adjust light intensity factor (0-1)",
        "group": "7081dbe6d6dd9744",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "medibox/config/gamma",
        "topicType": "str",
        "min": 0,
        "max": 1,
        "step": 0.01,
        "className": "",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "50a507371ffd019f"
            ]
        ]
    },
    {
        "id": "50a507371ffd019f",
        "type": "mqtt out",
        "z": "7f4a8f1e.6d1b5",
        "name": "controlling factor",
        "topic": "medibox/config/gamma",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a87fd9bb5ec24f84",
        "x": 500,
        "y": 640,
        "wires": []
    },
    {
        "id": "fd2aa5a5e787f824",
        "type": "ui_slider",
        "z": "7f4a8f1e.6d1b5",
        "name": "",
        "label": "Ideal Temperature (Tmed)",
        "tooltip": "Set ideal storage temperature (10-40°C)",
        "group": "7081dbe6d6dd9744",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "medibox/config/t_med",
        "topicType": "str",
        "min": 10,
        "max": 40,
        "step": 0.5,
        "className": "",
        "x": 270,
        "y": 700,
        "wires": [
            [
                "2773b5157042f77c"
            ]
        ]
    },
    {
        "id": "2773b5157042f77c",
        "type": "mqtt out",
        "z": "7f4a8f1e.6d1b5",
        "name": "ideal temperature",
        "topic": "medibox/config/t_med",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a87fd9bb5ec24f84",
        "x": 520,
        "y": 700,
        "wires": []
    },
    {
        "id": "e48ef6e9fc2c407f",
        "type": "mqtt in",
        "z": "7f4a8f1e.6d1b5",
        "name": "window angle",
        "topic": "medibox/window_angle",
        "qos": "0",
        "datatype": "auto",
        "broker": "a87fd9bb5ec24f84",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 760,
        "wires": [
            [
                "2ff2e688ae765c21"
            ]
        ]
    },
    {
        "id": "2ff2e688ae765c21",
        "type": "ui_gauge",
        "z": "7f4a8f1e.6d1b5",
        "name": "",
        "group": "7081dbe6d6dd9744",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Window Angle",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00a7b3",
            "#0045e6",
            "#3c1a1a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "a87fd9bb5ec24f84",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4e9e565b7be1d1dd",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "3a2b1c0d.6d1b5",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7b9e7c3.5d1f28",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "3a2b1c0d.6d1b5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7081dbe6d6dd9744",
        "type": "ui_group",
        "name": "window Control",
        "tab": "3a2b1c0d.6d1b5",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a2b1c0d.6d1b5",
        "type": "ui_tab",
        "name": "MediBox",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]